.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
.mypy_cache/**
.pytest_cache/**
pnpm-lock.yaml
tsconfig.json
Makefile
PLANS.md
docs/**
scripts/**
src/**
__tests__/**
coverage/**
*.log
*.tgz

!out/**
!node_modules/**
